- name: Deploy 3-Tier Application VMs in VMware
  hosts: localhost
  gather_facts: no
  collections:
    - community.vmware

  vars:
    vms:
      - name: "{{ web_vm_name }}"
        ip: "{{ web_vm_ip }}"
      - name: "{{ app_vm_name }}"
        ip: "{{ app_vm_ip }}"
      - name: "{{ db_vm_name }}"
        ip: "{{ db_vm_ip }}"

  tasks:
    - name: Deploy VMs from template
      vmware_guest:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        name: "{{ item.name }}"
        template: "{{ template_name }}"
        cluster: "{{ cluster_name }}"
        datacenter: "{{ datacenter_name }}"
        datastore: "{{ datastore_name }}"
        networks:
          - name: "{{ network_name }}"
            type: static
            ip: "{{ item.ip }}"
            netmask: "{{ vm_netmask }}"
            gateway: "{{ vm_gateway }}"
            dns_servers: "{{ vm_dns_servers }}"
        hardware:
          memory_mb: "{{ vm_memory }}"
          num_cpus: "{{ vm_cpu }}"
          scsi: paravirtual
        disk:
          - size_gb: "{{ vm_disk_size }}"
            type: thin
            datastore: "{{ datastore_name }}"
        state: poweredon
      loop: "{{ vms }}"
      delegate_to: localhost
